.hero-container {
    display: flex;
    flex-direction: row;
    background-color: light-dark(var(--main-light), var(--main-dark));
    justify-content: center;
    align-items: center;
    height: 100vmin;

    > * {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-inline: 80px;
    }

    .title-container {
        text-align: center;

        > p {
            width: 500px;
        }

        > img {
            height: auto;
            width: 750px;
        }
    }

    .button-container {
        > a, a:visited, a:active {
            width: 100%;
            text-align: center;
            text-decoration: none;
            background-color: var(--accent);
            color: var(--text-main-dark);
            padding-block: 5px;
            padding-inline: 15px;
            border: 5px solid var(--outline);
            border-radius: 10px;
            box-shadow: 0 5px rgb(0, 0, 0, 0.5);
        }

        :last-child {
            margin-top: 50px;
        }
    }
}

.footer-container {
    display: flex;
    flex-direction: column;
    background-color: light-dark(var(--tertiary-light), var(--tertiary-dark));
    color: var(--text-main-dark);
    height: 30vmin;
    padding: 25px 25px 50px 25px;

    p {
        margin-bottom: 0;
    }

    a, a:visited, a:active {
        color: var(--text-main-dark);
        margin-top: 30px;
        text-decoration: none;
    }

    .links-container {
        display: flex;
        align-items: center;

        > * {
            margin-right: 30px;
        }
    }

    .links-container > a > img {
        height: auto;
        width: 50px;
    }
}